<div class="container-fluid">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                <div class="float-left">
                    <div class="input-group">
                        <mat-form-field appearance="outline" class="zoom-0.8">
                            <mat-label>วัน/เดือน/ปี</mat-label>
                            <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
                                <input matStartDate formControlName="start" placeholder="Start date">
                                <input matEndDate formControlName="end" placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker>
                                <mat-date-range-picker-actions>
                                    <button mat-button matDateRangePickerCancel>ยกเลิก</button>
                                    <button mat-raised-button color="primary" matDateRangePickerApply (click)="findDate()">ยืนยัน</button>
                                </mat-date-range-picker-actions>
                            </mat-date-range-picker>
                        </mat-form-field>
                        <div class="btn-group ml-3 mt-1 h-50">
                            <button class="btn btn-outline-secondary" type="button" (click)="getDataAllSell()">รีเซ็ต</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h1 class="text-center mt-2 text-success"> ประวัติการขาย </h1>
            </div>
            <div class="col mt-1">
                <div class="float-right">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text material-icons bg-invisible">search</span>
                        </div>
                        <input type="text" class="form-control bg-invisible " [(ngModel)]="searchText" placeholder="ค้นหาประวัติการขาย">
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <mat-spinner class="spiner" *ngIf="getAllSell==null"></mat-spinner>
            <table class="table table-bordered" *ngIf="getAllSell!=null">
                <thead class="text-center text-success" id="head-style">
                    <tr>
                        <th class="w-100px" scope="col">รหัสขาย</th>
                        <th class="w-150px" scope="col">ชื่อร้าน</th>
                        <th class="w-200px" scope="col">ชื่อลูกค้า</th>
                        <th class="w-150px" scope="col">ราคาสุทธิ</th>
                        <th class="w-150px" scope="col">ราคารวม</th>
                        <th class="w-150px" scope="col">เงินที่รับ</th>
                        <th class="w-150px" scope="col">เงินทอน</th>
                        <!-- <th class="w-100px" scope="col">รายการ</th> -->
                        <th class="w-150px" scope="col">วัน เดือน ปี</th>
                        <th class="w-100px" scope="col">เวลา</th>
                        <th class="w-100px" scope="col">เพิ่มเติม</th>
                    </tr>
                </thead>
                <tbody class="text-right">
                    <tr *ngFor="let i of getAllSell | paginate : config  | filter : searchText  ">
                        <td class="text-center" scope="row"> {{i.sellId}}</td>
                        <td class="text-center">{{i.shopName}}</td>
                        <td class="text-center">{{i.customerStoreName}}</td>
                        <td class="text-center">{{i.netPrice}}</td>
                        <td class="text-center">{{i.totalPrice}}</td>
                        <td class="text-center">{{i.receiveMoney}}</td>
                        <td class="text-center">{{i.changeMoney}}</td>
                        <!-- <td class="text-center">{{i.listSellItem.length}}</td> -->
                        <td class="text-center">{{i.creationDatetime | date:' d/M/yyyy' }}</td>
                        <td class="text-center">{{i.creationDatetime | date:' HH:mm ' }}</td>
                        <td class="text-center">
                            <div class="text-313131 material-icons" style="padding-top: 7px;" type="button" data-toggle="modal" data-target="#modalbill" data-placement="top" title="แสดงข้อมูล" (click)="showBill(i.sellId)">menu</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination float-right mt-1">
            <pagination-controls maxSize="7" responsiv="true" previousLabel="ก่อนหน้า" nextLabel="ถัดไป" (pageChange)="onPageChage($event)">
            </pagination-controls>
        </div>
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="modalbill" #modalbill aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-313131">
                <div class="text-light mt-2 h1-center">
                    <h1>ประวัติการขาย</h1>
                </div>
            </div>
            <div class="modal-body font-15" *ngIf="showbill != null">
                <div class="row right">
                    <div class="col">
                        <label class="row font-14 mr-1">{{showbill.creationDatetime | date:'วันที่ : d/M/yyyy' }}</label>
                        <label class="row font-14"> {{showbill.creationDatetime | date:'เวลา : HH:mm ' }}</label>
                    </div>
                </div>
                <div class="mdal row mt-5">
                    <div class="col">
                        <label class="row ml-2">ไอดีการขาย : {{showbill.sellId}}</label>
                        <label class="row ml-2">ชื่อร้าน : {{showbill.shopName}}</label>
                        <label class="row ml-2">ชื่อลูกค้า : {{showbill.customerStoreName}}</label>
                        <label class="row ml-2">เลขประจำผู้เสียภาษี : {{showbill.taxId}}</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <label class="col">
            <div class="product-border">
              <table class="text-center w-100">
                <thead>
                  <tr>
                    <th>รหัสสินค้า</th>
                    <th>ชื่อสินค้า</th>
                    <th>ราคา</th>
                    <th>จำนวน</th>
                    <th>ราคารวม</th>
                  </tr>
                </thead>
                <tbody *ngFor="let i of showbill.listSellItem">
                  <tr>
                    <td>{{i.productId}}</td>
                    <td>{{i.productName}}</td>
                    <td>{{i.price}}</td>
                    <td>{{i.amount}}</td>
                    <td>{{i.totalPrice}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </label>
                </div>
                <div class="row ">
                    <div class="col ml-3">
                        <div class="row">
                            <div class="col-4 ml-2">
                                <label class="row"> ราคาสุทธิ </label>
                                <label class="row"> ภาษี </label>
                                <label class="row"> ส่วนลด </label>
                                <label class="row"> ส่วนลด </label>
                            </div>
                            <div class="col-1">
                                <label class="row"> : </label>
                                <label class="row"> : </label>
                                <label class="row"> : </label>
                                <label class="row"> : </label>
                            </div>
                            <div class="col">
                                <label class="row"> {{showbill.netPrice}} บาท </label>
                                <label class="row"> {{showbill.vat}} % </label>
                                <label class="row"> {{showbill.discount}} บาท </label>
                                <label class="row"> {{showbill.perDiscount}} % </label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-4 mr-2">
                                <label class="row"> ราคารวม </label>
                                <label class="row"> เงินสด </label>
                                <label class="row"> เงินทอน </label>
                            </div>
                            <div class="col-1">
                                <label class="row"> : </label>
                                <label class="row"> : </label>
                                <label class="row"> : </label>
                            </div>
                            <div class="col">
                                <label class="row"> {{showbill.totalPrice}} บาท </label>
                                <label class="row"> {{showbill.receiveMoney}} บาท </label>
                                <label class="row"> {{showbill.changeMoney}} บาท </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn text-danger material-icons float-right" type="button" (click)="genPDF(showbill)">
          <span class="material-icons">
            picture_as_pdf
          </span>
        </button>
            </div>
        </div>
    </div>
</div>